name: Docker

on:
  push:
    branches: ['main']
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: Build image
    runs-on: ubuntu-latest

    strategy:
      matrix:
        arch: [x86_64, aarch64]

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v10

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: Build Docker image
        id: build
        run: |
          nix build --print-build-logs ./nix/dev#container-${{ matrix.arch }}
          [ ! -L result ] && exit 1
          echo "path=$(readlink -f result)" >> "$GITHUB_OUTPUT"

      - name: Upload image
        uses: actions/upload-artifact@v4
        with:
          name: container-${{ matrix.arch }}
          path: ${{ steps.build.outputs.path }}
          if-no-files-found: error
          retention-days: 3

  push:
    name: Push image

    needs: build
    runs-on: ubuntu-latest

    permissions:
      packages: write

    env:
      REGISTRY: ghcr.io
      USERNAME: ${{ github.actor }}

    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v4

      - name: Determine image name
        run: |
          echo "IMAGE_NAME=${REPOSITORY,,}" >> "$GITHUB_ENV"
        env:
          REPOSITORY: '${{ github.repository }}'

      - name: Download images
        uses: actions/download-artifact@v4
        with:
          path: images

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ github.token }}

      - name: Push to registry
        env:
          TAG: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
        run: |
          set -eu

          architectures=("x86_64" "aarch64")
          for arch in "${architectures[@]}"; do
            docker load < images/container-"$arch"/*.tar.gz
            docker tag refraction:latest-"$arch" "$TAG"-"$arch"
            docker push ${{ env.TAG }}-"$arch"
          done

          docker manifest create "$TAG" \
            --amend "$TAG"-x86_64 \
            --amend "$TAG"-aarch64

          docker manifest push "$TAG"
